@charset "UTF-8";
h5 {
  color: rgb(19, 18, 18);
  font-weight: 700;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*****************************CREAR ESTILO Y COLOR A MI BARRA DE NAVEGACION**********************************************/
nav {
  background-color: rgba(174, 114, 209, 0.3137254902);
}
nav .blanco {
  color: rgb(29, 2, 50);
}
nav .blanco li {
  padding: 10px;
}
nav .blanco a {
  text-decoration: none;
  position: relative;
  font-family: "Times New Roman", Times, serif;
}
nav .blanco a:after {
  content: "";
  position: absolute;
  background: #6d2abb;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
nav .blanco a:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

/*************************ESTILO DE BOTONES DE TRES TARJETAS DE INICIO*********************************************/
.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: rgb(47, 13, 95);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #533688;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/************************************Aca termina el estilo *************************************************/
/*******************todo aca es del footer********************************/
footer {
  background-color: rgba(174, 114, 209, 0.6823529412);
  padding: 30px 0;
  margin: 15px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  color: rgb(39, 8, 68);
}

.col-md-6,
.col-md-3 {
  padding: 0 15px;
}

/*dar estilo al h4*/
h4 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #222020;
  text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.6);
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  background: linear-gradient(rgb(211, 72, 72), rgb(54, 15, 15));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  animation: text 5s linear infinite;
}

@keyframes text {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

/*****aca diseño de los botones sociales**********/
.buttons {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(98, 94, 94, 0.1607843137);
  transition: 0.3s;
}

.buttons:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px rgba(200, 40, 40, 0.8941176471);
}

.buttons svg {
  transition: 0.3s;
  height: 20px;
}

a {
  color: #1d042c;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

.bottom-bar {
  background-color: #8b8383;
  color: #3b3a3a;
  padding: 15px 0;
  text-align: center;
}

hr {
  color: rgb(140, 12, 12);
}

p {
  font-family: "Times New Roman", Times, serif;
}

.h55 {
  text-align: center;
  margin: 15px;
  font-size: 35px;
  color: #15051a;
  font-family: "Times New Roman", Times, serif;
}

/*animacion de tarjetas de la parte de inicio*/
.coli {
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.coli:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

/*ACA GENERO ESTILO A LOS BOTONES DE LLEVARNOS AL LINK*/
.btn {
  background-color: #44124b;
  /* Green */
  border: none;
  color: rgb(104, 100, 107);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  /* border-radius: 10px; */
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(134, 90, 196, 0.768);
  transform: skewX(-30deg);
  transition: all 1s ease-in-out;
}

.btn:hover::before {
  left: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(86, 34, 106, 0.746);
  transition: all 0.5s ease-in-out;
}

.btn:hover::after {
  width: 100%;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:hover {
  color: #ffffff;
  background-color: #582c61;
}

/*termina aca el estilo de los buttons*/
.planta {
  color: rgb(22, 21, 21);
  text-align: center;
  font-weight: 900;
  font-size: 35px;
}

/*CREAR ESTILO AL LINK DE LAS SUBPAGINAS*/
.enlace {
  color: #af85c6;
}

/*ACA VOY A GENERAR LOS ESTILOS PARA TODAS LAS SUBPAGINAS LA PARTE DE CARD*/
.pag-imagen {
  background: url(/img/img-prueba.png) no-repeat center;
  background-size: cover;
  height: 500px;
  position: relative;
}
.pag-imagen .pag-texto {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

p::first-letter {
  color: rgb(55, 14, 93);
  font-size: xx-large;
}

/*GENERAR MAYUSCULA A TARJETA DE TRATAMIENTO FACIAL*/
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(57, 52, 52);
}

.icon-cart {
  width: 35px;
  height: 35px;
  stroke: black;
}

img {
  max-width: 100%;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 40px 0;
}

.container-icon {
  position: relative;
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;
  background-color: black;
  color: beige;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.container-cart-productos {
  position: absolute;
  top: 50px;
  background-color: beige;
  width: 400px;
  right: 0;
  z-index: 1;
  box-shadow: 0 10px 20px black(0, 0, 0, 0.2);
}

.cart-product {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid black;
  align-items: center;
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: rgb(219, 119, 119);
  cursor: pointer;
}

#contador-productos {
  font-size: 12px;
}

.cart-total {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 20px h3;
  gap-font-size: 20px;
  gap-font-weight: 700;
}

.total-a-pagar {
  font-size: 15px;
  font-weight: 900;
}

.hidden-cart {
  display: none;
}

/*ACA EMPIEZA LOS ITEM DE LA TIENDA*/
.container-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid: 20px;
}

.item {
  border-radius: 10px;
  margin: 10px 0;
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
}

.item figure {
  overflow: hidden;
}

.item:hover img {
  transform: scale(1.2);
}

.info-producto {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.precio {
  font-size: 18px;
  font-weight: 900;
}

.info-producto button {
  border: none;
  padding: 15px 10px;
  cursor: pointer;
}

/*-----------------------para la pagina de inicio--------------------------*/
h1 {
  text-align: center;
}

.pago {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}/*# sourceMappingURL=estilos.css.map */