h5 {
  color: rgb(19, 18, 18);
  font-weight: 700;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


/*****************************CREAR ESTILO Y COLOR A MI BARRA DE NAVEGACION**********************************************/
nav {
  background-color: #ae72d150;

  .blanco {
    color: rgb(29, 2, 50);
  }

  .blanco li {
    padding: 10px;
  }

  .blanco a {
    text-decoration: none;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
  }

  .blanco a:after {
    content: "";
    position: absolute;
    background: #6d2abb;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }

  .blanco a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
  }
}


/*************************ESTILO DE BOTONES DE TRES TARJETAS DE INICIO*********************************************/

.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;

}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: rgb(47, 13, 95);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #533688;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/************************************Aca termina el estilo *************************************************/

/*******************todo aca es del footer********************************/
footer {
  background-color: #40254753;
  padding: 30px 0;
  margin: 15px 0;
  border-radius: 2% 5% 2% 5%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  color: rgb(39, 8, 68);
}

.col-md-6,
.col-md-3 {
  padding: 0 15px;
}

/*dar estilo al h4*/
h4 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #222020;
  text-shadow: 2px 2px 4px #64646499;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  background: linear-gradient(rgb(211, 72, 72), rgb(54, 15, 15));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  animation: text 5s linear infinite;
}

@keyframes text {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

/*****aca diseño de los botones sociales**********/

.bi-instagram {
  color: #7e1b44;
  margin: 2px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  border: #004dff;
  transition: 0.5s;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999
}

.bi-instagram:hover {
  transform: scale(1.2);
}

.bi-whatsapp {
  color: #0e6823;
  margin: 5px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  border: #004dff;
  transition: 0.5s;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999
}

.bi-whatsapp:hover {
  transform: scale(1.2);
}

.bi-facebook {
  color: rgb(29, 29, 185);
  margin: 5px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  border: #004dff;
  transition: 0.5s;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999
}

.bi-facebook:hover {
  transform: scale(1.2);

}
/************ACA TERMINA LOS BOTONES SOCIALES************************/
/**********************************************************/

a {
  color: #1d042c;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

.bottom-bar {
  background-color: #8b8383;
  color: #3b3a3a;
  padding: 15px 0;
  text-align: center;
}

hr {
  color: rgb(97, 27, 134);
}

p {
  font-family: 'Times New Roman', Times, serif;
  color: #1b0627;
  font-size: medium;
}

.h55 {
  text-align: center;
  margin: 15px;
  font-size: 30px;
  color: #2d0439;
  font-family: 'Times New Roman', Times, serif;
}

/*animacion de tarjetas de la parte de inicio*/
.coli {
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  user-select: none;
}

.coli:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

/*ACA GENERO ESTILO A LOS BOTONES DE LLEVARNOS AL LINK*/
.btn {
  background-color: #44124b;
  /* Green */
  border: none;
  color: rgb(104, 100, 107);

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;

  cursor: pointer;
  position: relative;
  overflow: hidden;
  /* border-radius: 10px; */
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(134, 90, 196, 0.768);
  transform: skewX(-30deg);
  transition: all 1s ease-in-out;
}

.btn:hover::before {
  left: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(86, 34, 106, 0.746);
  transition: all 0.5s ease-in-out;
}

.btn:hover::after {
  width: 100%;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:hover {
  color: #ffffff;
  background-color: #582c61;
}

/*termina aca el estilo de los buttons*/
/****************ARREGLO DEL CARRUSEL********************/
.carousel-indicators .indi {
  border-radius: 50%;
  background-color: #603e8d;
  width: 0.5rem;
  height: 0.5rem;
  margin: 5 6px;
}